body{
    background: rgb(172,255,255);
}
.words{
    border-style: groove;
    font-family: Helvetica, sans-serif;
    font-size: 55px;
    text-align: center;
}
.equations{
    font-size: 20px;
    border-radius: 25px;
    border-style: solid;
    background-color: rgb(255, 255, 255);
    padding: 14px 28px;
}
.words3{
    font-size: 25px;
}

.a{
    position: absolute;
    top: 30%;
    left: 45%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-187%, -30%);
    border: none;
    background: rgb(0, 0, 0);
    padding: 120px 40px;
    font-size: 30px;
    cursor: pointer;
    display: inline-block;
    font-family: 'Trebuchet MS', sans-serif;
    -moz-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
    -webkit-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
    box-shadow: 1px 2px 3px rgba(0,0,0,.5);
    color:white;
}

.b{
    position: absolute;
    top: 30%;
    left:9%;
    -ms-transform: translate(-0%, -50%);
    transform: translate(-30%, -30%);
    border: none;
    background: rgb(0, 0, 0);
    padding: 120px 40px;
    font-size: 30px;
    cursor: pointer;
    display: inline-block;
    font-family: 'Trebuchet MS', sans-serif;
    -moz-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
    -webkit-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
    box-shadow: 1px 2px 3px rgba(0,0,0,.5);
    color:white; 
}

.c{
    position: absolute;
    top: 30%;
    left: 39.2%;
    -ms-transform: translate(-0%, -50%);
    transform: translate(-30%, -30%);
    border: none;
    background: rgb(0, 0, 0);
    padding: 120px 40px;
    font-size: 30px;
    cursor: pointer;
    display: inline-block;
    font-family: 'Trebuchet MS', sans-serif;
    -moz-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
    -webkit-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
    box-shadow: 1px 2px 3px rgba(0,0,0,.5);
    color:white; 
}
.d{
    position: absolute;
    top: 30%;
    left: 49%;
    -ms-transform: translate(-0%, -50%);
    transform: translate(-30%, -30%);
    border: none;
    background: rgb(0, 0, 0);
    padding: 117px 40px;
    font-size: 30px;
    cursor: pointer;
    display: inline-block;
    font-family: 'Trebuchet MS', sans-serif;
    -moz-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
    -webkit-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
    box-shadow: 1px 2px 3px rgba(0,0,0,.5);
    color:white; 
}
.e{
    position: absolute;
    top: 30%;
    left: 60%;
    -ms-transform: translate(-0%, -50%);
    transform: translate(-30%, -30%);
    border: none;
    background: rgb(0, 0, 0);
    padding: 117px 40px;
    font-size: 30px;
    cursor: pointer;
    display: inline-block;
    font-family: 'Trebuchet MS', sans-serif;
    -moz-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
    -webkit-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
    box-shadow: 1px 2px 3px rgba(0,0,0,.5);
    color:white; 
}
.f{
    position: absolute;
    top: 30%;
    left: 77%;
    -ms-transform: translate(-0%, -50%);
    transform: translate(-30%, -30%);
    border: none;
    background: rgb(0, 0, 0);
    padding: 117px 40px;
    font-size: 30px;
    cursor: pointer;
    display: inline-block;
    font-family: 'Trebuchet MS', sans-serif;
    -moz-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
    -webkit-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
    box-shadow: 1px 2px 3px rgba(0,0,0,.5);
    color:white; 
}
.g{
    position: absolute;
    top: 80%;
    left: 45%;
    -ms-transform: translate(-0%, -50%);
    transform: translate(-30%, -30%);
    border: none;
    background: rgb(0, 0, 0);
    padding: 40px 90px;
    font-size: 30px;
    cursor: pointer;
    display: inline-block;
    font-family: 'Trebuchet MS', sans-serif;
    -moz-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
    -webkit-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
    box-shadow: 1px 2px 3px rgba(0,0,0,.5);
    color:white; 
}

.button1{
    position: absolute;
    top: 42%;
    left:30%;
    box-shadow: 0px 0px 0px 2px #9fb4f2;
	background:linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
	background-color:#7892c2;
	border-radius:10px;
	border:1px solid #4e6096;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:19px;
	padding:12px 37px;
	text-decoration:none;
	text-shadow:0px 1px 0px #283966;
}
.button2{
    position: absolute;
    top: 42%;
    left:38.7%;
    box-shadow: 0px 0px 0px 2px #9fb4f2;
	background:linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
	background-color:#7892c2;
	border-radius:10px;
	border:1px solid #4e6096;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:19px;
	padding:12px 37px;
	text-decoration:none;
	text-shadow:0px 1px 0px #283966;
}
.button3{
    position: absolute;
    top: 50%;
    left:46%;
    box-shadow: 0px 0px 0px 2px #9fb4f2;
	background:linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
	background-color:#7892c2;
	border-radius:10px;
	border:1px solid #4e6096;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:19px;
	padding:12px 37px;
	text-decoration:none;
	text-shadow:0px 1px 0px #283966;
}

.button4{
    position: absolute;
    top: 80%;
    left:43%;
    box-shadow: 0px 0px 0px 2px #9fb4f2;
	background:linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
	background-color:#7892c2;
	border-radius:10px;
	border:1px solid #4e6096;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:19px;
	padding:12px 37px;
	text-decoration:none;
	text-shadow:0px 1px 0px #283966;
}
.but5{
    position: absolute;
    top: 50%;
    left:45%;
    box-shadow: 0px 0px 0px 2px #9fb4f2;
	background:linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
	background-color:#7892c2;
	border-radius:10px;
	border:1px solid #4e6096;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:19px;
	padding:12px 37px;
	text-decoration:none;
	text-shadow:0px 1px 0px #283966;
}
.but6{
    position: absolute;
    top: 30%;
    left:53.4%;
    box-shadow: 0px 0px 0px 2px #9fb4f2;
	background:linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
	background-color:#7892c2;
	border-radius:10px;
	border:1px solid #4e6096;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:19px;
	padding:12px 37px;
	text-decoration:none;
	text-shadow:0px 1px 0px #283966;
}

.but7{
    position: absolute;
    top: 80%;
    left:43.5%;
    box-shadow: 0px 0px 0px 2px #9fb4f2;
    background:linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
    background-color:#7892c2;
    border-radius:10px;
    border:1px solid #4e6096;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:19px;
    padding:12px 37px;
    text-decoration:none;
    text-shadow:0px 1px 0px #283966;

}
.but8{
    position: absolute;
    top: 47%;
    left: 63%;
    box-shadow: 0px 0px 0px 2px #9fb4f2;
    background:linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
    background-color:#7892c2;
    border-radius:10px;
    border:1px solid #4e6096;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:19px;
    padding:12px 37px;
    text-decoration:none;
    text-shadow:0px 1px 0px #283966;

}
.but9{
    position: absolute;
    top: 80%;
    left: 43%;
    box-shadow: 0px 0px 0px 2px #9fb4f2;
    background:linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
    background-color:#7892c2;
    border-radius:10px;
    border:1px solid #4e6096;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:19px;
    padding:12px 37px;
    text-decoration:none;
    text-shadow:0px 1px 0px #283966;

}
.but10{
    position: absolute;
    top: 67%;
    left: 46.1%;
    box-shadow: 0px 0px 0px 2px #9fb4f2;
    background:linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
    background-color:#7892c2;
    border-radius:10px;
    border:1px solid #4e6096;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:19px;
    padding:12px 37px;
    text-decoration:none;
    text-shadow:0px 1px 0px #283966;

}
.but11{
    box-shadow: 0px 0px 0px 2px #9fb4f2;
	background:linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
	background-color:#7892c2;
	border-radius:10px;
	border:1px solid #4e6096;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:19px;
	padding:9px 37px;
	text-decoration:none;
	text-shadow:0px 1px 0px #283966;
}
.but12{
    box-shadow: 0px 0px 0px 2px #9fb4f2;
	background:linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
	background-color:#7892c2;
	border-radius:10px;
	border:1px solid #4e6096;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:19px;
	padding:9px 37px;
	text-decoration:none;
	text-shadow:0px 1px 0px #283966;
}
.but13{
box-shadow: 0px 0px 0px 2px #9fb4f2;
	background:linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
	background-color:#7892c2;
	border-radius:10px;
	border:1px solid #4e6096;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:19px;
	padding:9px 37px;
	text-decoration:none;
	text-shadow:0px 1px 0px #283966;
}
